#post {
  display: flex;
}
.box_container_product {
  width: 80%;
  height: auto;
  margin-top: 7.5rem;
  margin-left: 16.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.edit-product-forms {
  justify-content: space-between;
  width: 100%;
  display: flex;
  gap: 5px;
}
/* Button submit */
.submit-update {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.submit-update button {
  padding: 10px 50px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.submit-update button:hover {
  background-color: #218838;
}
.submit-update button:active {
  background-color: #1e7e34;
  transform: scale(0.98);
}
/* input image */
.input-img {
  width: 100%;
  margin-top: 2rem;
}
.box_description {
  padding: 15px 0;
}
.box_description h3 {
  font-size: 25px;
  text-align: start;
}
.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.images img {
  max-width: 100%;
  max-height: 250px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box_chooses_image {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}
.box_chooses_image:hover {
  background-color: #0056b3;
}
.box_chooses_image:active {
  background-color: #004080;
}
input[type="file"] {
  display: none;
}
/* Gallery */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.gallery h3 {
  margin: 0;
  font-size: 24px;
  color: #333;
  text-align: start;
}
.gallery-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.gallery-box img {
  max-width: 100%;
  max-height: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box_chooses_image22 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.box_chooses_image22:hover {
  background-color: #0056b3;
}

.box_chooses_image22:active {
  background-color: #004080;
}

input[type="file"] {
  display: none;
}

/* ====== form_input_box ======*/
.form_input_box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  border-radius: 10px;
  /* border: 1px solid #ccc; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}

.input {
  display: flex;
  flex-direction: column;
}

.input label {
  font-weight: bold;
  color: #333;
}

.input input[type="text"],
.input textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}
.input input[type="text"]:focus,
.input textarea:focus {
  border-color: #333;
}

.input textarea {
  resize: vertical;
}

.input input::placeholder,
.input textarea::placeholder {
  color: #aaa;
}
