.box_container_logino {
  width: 80%;
  margin: 6rem auto auto auto;
}

.container-box-logino {
  margin: auto;
  width: 55%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  position: relative; /* Ensure the container is positioned relative for absolute positioning */
}

.box-icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon_closeReviwe {
  font-size: 24px;
}

.contian-box-logino {
  text-align: center;
}

.contian-box-logino h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contian-box-logino p {
  font-size: 16px;
  color: #666;
}

.contian-box-logino {
  display: grid;
  text-align: center;
  gap: 0.5rem;
}

.input_boxForm-login {
  width: 100%;
  display: grid;
  gap: 0.5rem;
  margin: 10px 0;
}

.input_boxForm-login label {
  display: flex;
}

.input_boxForm-login input {
  border: 1px #ddd solid;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
}

.forgot_password2 {
  text-align: end;
}

.findpassword2 {
  text-align: center;
  color: #e51e1e;
}

.dont_account {
  text-align: end;
}

.signup2 {
  color: #e51e1e;
}

.login_btn2 {
  height: 50px;
  text-decoration: none;
  text-align: center;
  background-color: #0e64d2;
  color: #fff;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.login_btn2:hover {
  background-color: #0c4b9b;
}

.login_google2 {
  border: 1px #ddd solid;
  padding: 12px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconnDetails_head {
  justify-content: center;
  margin-right: 10px;
  font-size: 24px;
}

/* Responsive for screen sizes between 576px and 768px */
@media (max-width: 768px) and (min-width: 576px) {
  .container-box-logino {
    width: 70%;
    padding: 20px;
  }

  .input_boxForm-login input {
    padding: 12px;
    font-size: 15px;
  }

  .login_btn2 {
    height: 45px;
    font-size: 16px;
    padding: 10px 18px;
  }
  .forgot_password2 {
    font-size: 12px;
    text-align: end;
  }
  .dont_account {
    font-size: 12px;
    text-align: end;
  }
}

/* Responsive for screen sizes less than 576px */
@media (max-width: 575px) {
  .box_container_logino {
    width: 90%;
    margin: 3rem auto;
  }

  .container-box-logino {
    width: 90%;
    padding: 20px;
  }

  .input_boxForm-login input {
    padding: 10px;
    font-size: 14px;
  }

  .login_btn2 {
    height: 40px;
    font-size: 16px;
    padding: 10px 16px;
  }
  .forgot_password2 {
    font-size: 12px;
    text-align: end;
  }
  .dont_account {
    font-size: 12px;
    text-align: end;
  }
}
