.menubar_contentHeader22 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.box_content_header2 {
  width: 80%;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_header_box2 {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 18px;
  font-weight: 500;
}

.menu_header_box2 a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.menu_header_box2 a:hover {
  color: #0e64d2;
}

.active2 {
  color: #0e64d2;
}

.linkTomenu2 {
  font-size: 19px;
}

/* Responsive for screen sizes between 576px and 768px */
@media (max-width: 768px) and (min-width: 576px) {

  .box_content_header2 {
    width: 90%;
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
  }
  .box_content_header2 h3 {
    font-size: 18px;
  }
  .menu_header_box2 {
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}

/* Responsive for screen sizes less than 576px */
@media (max-width: 575px) {
 
  .box_content_header2 {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }
  .box_content_header2 h3 {
    padding: 0 10px 0 10px;
    display: flex;
    font-size: 18px;
  }
  .menu_header_box2 {
    padding: 0 15px 0 10px;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    width: 100%;
    margin: 0;
  }

  .menu_header_box2 a {
    font-size: 16px;
  }

  .linkTomenu2 {
    font-size: 18px;
  }
}
