
.header_box_management p{
    font-size: 17px;
    font-weight: 600;
    color: #5a5858dd;
}


.MorePage {
    width: 60%;
    margin: auto;
    margin-top: 3rem;
}


.profile_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 10px 12px;
}
#icons_back {
    width: 25px;
    height: 25px;
}

.box_icon_back{
    display: block;
    align-items: center;
}
.Box_haed_management h3{
    text-align: center;
}


.left_box {
    width: 100%;
    height: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    overflow: hidden;
}

.left_box img {
    width: 13%;
    height: 100px;
    border-radius: 100%;
}

.user_name {
    font-size: 19px;
}

.right_box button {
    padding: 10px 35px;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background-color: #0e64d2;
    color: #fff;
}

.hr {
    margin-top: 0.5rem;
    border: 1px solid #ddd;

}

.more-menu-list:hover {
    color: var(--orange);

}

.menu_icon {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
    color: black;
    font-weight: 600;
}

#icon_more {
    width: 60px;
    height: 25px;
    color: #5a5858dd;
}
.menu_icon {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
    color: black;
    font-weight: 600;
}
.menu_icon:hover #icon_more{
    color: #0e64d2;
    transition: 0.3s;
}
.menu_icon:hover .txtP{
    color: #0e64d2;
    transition: 0.3s;
}


.menu_icon:hover {
    color: #0e64d2;
    transition: 0.5s;
}

.confirmation-popup {
    position: fixed;
    width: 25%;
    height: 18%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #f2eeee;
    border-radius: 5px;
    color: black;
    top: 50%;
    left: 50%;
    font-size: 18px;
    transform: translate(-50%, -50%);
}

.btn_ok_on {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.btn_yes{
    padding: 10px 50px;
    padding: 6px 18px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    background: #347FFF;
    
}
.btn_on{
    padding: 10px 50px;
    background: rgb(248, 74, 74);

}

.btn_on {
    padding: 6px 18px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    background: #cacad2;
}

/* =========== onClick icon Log out ===============*/

.box_background_delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000036;
    z-index: 999;
}

.hover_delete_box {
    width: 30%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box_logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 15vh;
    background-color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box_logout p {
    font-size: 18px;
    color: #000;
}

.btn_cancel {
    background-color: #F2F3F7;
    color: #000;
    font-size: 18px;
}

.btn_confirm {
    background-color: #347FFF;
    color: #FFF;
    font-size: 18px;
}

.btn_cancel:hover {
    background-color: #e7e8ee;
}

.btn_confirm:hover {
    background-color: #3076f0;
}

.btn_addproducttxt_popup {
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 20px;

}

.input_of_txtAddproduct {
    width: 80%;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #DDDCE1;
}

.btn_foasdf {
    display: flex;
}




/*============== Responsive =====================*/
@media (max-width: 768px) {
    .MorePage {
        width: 100%;

    }

    .left_box img {
        width: 16%;
    }

    .confirmation-popup {
        width: 80%;
        height: 15%;
        top: 50%;
        left: 50%;
    }

}