#addAmins {
  position: absolute;
  width: 99%;
  padding: 1.5rem 1.5rem 0 17rem;
  margin-top: 6rem;
}

.goback {
  margin-top: 5rem;
}

.box_addAdmin {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.15);
  border-radius: 10px;
}

.container_add_admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box_guopIconbAck {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 8px 10px;
  border-radius: 5px;
  margin: 1rem 0;
  color: #fff;
  background: var(--blue);
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 193, 255, 0.303);
}

#box_icon_Back {
  width: 20px;
  height: 20px;
}

.titlelabel {
  color: #566a7f;
}

#addAmins form {
  margin-top: 2rem;
  display: flex;
  gap: 5rem;
  margin: auto;
}

.boxiconnandinput {
  align-items: center;
  display: flex;
}

.boxiconnandinput input {
  border: 1px solid #d9dee3;
  border-radius: 0.375rem;
}

.iconinput {
  font-size: 18px;
  position: absolute;
  margin-left: 10px;
  color: #666;
}

.titleaddmin {
  margin-bottom: 1rem;
}

#addAmins form .addAdminForm {
  width: 100%;
  padding: 0 2rem;
}

#addAmins form .addAdminForm .add-box {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 1rem 0;
}

#addAmins form .addAdminForm .add-box .input {
  width: 100%;
  font-size: 1rem;
  padding: 15px 35px;
}

#addAmins form .addAdminForm .add-box img {
  width: 100%;
  cursor: pointer;
}

#addAmins form .addAdminForm .add-box .BorderinputThenImage {
  border: 1px solid #d9dee3;
  width: 30%;
  height: 33vh;
  border-radius: 7px;
  display: grid;
  align-items: center;
  overflow: hidden;
}

#addAmins form .addAdminForm .add-box .BorderinputThenImage label p {
  display: grid;
  background-color: #27a7ef;
  border-radius: 4px;
  width: fit-content;
  padding: 0.4rem 0.9rem;
  color: #fff;
  cursor: pointer;
  margin: auto;
}

#addAmins form .addAdminForm .add-box .BorderinputThenImage input {
  display: none;
}

#addAmins form .addAdminForm .add-box .BorderinputThenImage img {
  width: 100%;
  cursor: pointer;
}

/* Submit button */
.boxhead_subminandtitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#addAmins form .btn_submit {
  padding: 0.3rem 2rem;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background-color: #27a7ef;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 9, 26, 0.1);
}

.error_message {
  color: red;
  position: absolute;
  top: 3.2rem;
  z-index: 999;
}

/* =========== btn Edit Delete ==========*/

.box_container_btn {
  display: flex;
  gap: 2rem;
  margin-top: -6rem;
  align-items: center;
  justify-content: center;
}

#btn_icon_admin {
  width: 22px;
  height: 22px;
  color: #fff;
}

.btn_icon_delete_admin {
  padding: 8px 15px;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  background: #fa442c;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

.btn_icon_edit_admin {
  padding: 8px 15px;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  background: #27a7ef;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

/* Del user and update  */
.del-update {
  display: flex;
  justify-content: end;
  gap: 3rem;
}

.del,
.update {
  display: flex;
  width: max-content;
  padding: 0.5rem 2.8rem;
  align-items: center;
  font-size: 1.3rem;
  color: #fff;
  background-color: #ff7446;
  cursor: pointer;
  border-radius: 7px;
}

.upd {
  background-color: #1b71fbc0;
  color: #fff;
}

.button-updateemp {
  text-align: center; /* Center align the button */
}

.btn_submit22 {
  background-color: #0e64d2; /* Background color */
  color: #fff; /* Text color */
  padding: 12px 24px; /* Padding around text */
  font-size: 16px; /* Font size */
  border: none; /* Remove border */
  border-radius: 6px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.btn_submit22:hover {
  background-color: #0c4b9b; /* Darker background color on hover */
}
