.fixedElement {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-left: 2vw;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #115c9a9e;
  border-radius: 10px 10px 0 0;
  z-index: 9999;
}

/* Button on top */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.scroll-to-top-button {
  background-color: #0e64d2;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-to-top-button:hover {
  background-color: #0c4b9b;
  transform: translateY(-3px);
}

.scroll-to-top-button:focus {
  outline: none;
}

.scroll-to-top-button svg {
  color: #fff;
  font-size: 24px;
}

@media screen and (max-width: 431px) {
  .fixedElement {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    margin-left: 0vw;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #115c9a9e;
    z-index: 999;
  }
}
